.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1px solid #c5cccc;
    padding: 0 2rem;
    height: 10vh;
    background-color: white;
    font-family: 'Segoe UI', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
   
  }
 
  
  .logo {
    color: #748888;
    font-weight: 500;
    font-family: 'Inknut Antiqua', serif;
    font-size: 100%;
    padding-left: 3vh;
    padding-top: 1vh;
  }
  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .nav-links {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #6D7C7C;
    white-space: nowrap;
  }
  
  .nav-links li {
    cursor: pointer;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  
  .login-btn {
    padding: 0.4rem 1rem;
    border: 1px solid #6D7C7C;
    background-color: white;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    width: 30%;
    height: 10%;
    margin-top: -1vh;;
    color: #6D7C7C;
    
  }
  .login-btn:hover{
    background-color:  #6a948a;
    color: white;
  }
  
  .icons {
    display: flex;
    gap: 1rem;
    font-size: 18px;
    color: #6D7C7C;
    cursor: pointer;
    padding-right: 3vh;
    
  }

  .links{
    padding-top: 2vh;
  }
  
  .icons:hover{
    color:#89a0a0
  }
  .sell{
    color:#6D7C7C
  }
  .sell:hover{
    color :#6D7C7C;
    font-weight: 600;
  }

  .products{
    color:#6D7C7C
  }
  .products:hover{
    color :#6D7C7C;
    font-weight: 600;
  }

  .contact{
    color:#6D7C7C
  }
  .contact:hover{
    color :#6D7C7C;
    font-weight: 600;
  }

  .contact:active{
    color :#6D7C7C;
    font-weight: 600;
  }
  .sell:active{
    color :#6D7C7C;
    font-weight: 600;
  }

  .products:active{
    color :#6D7C7C;
    font-weight: 600;
  }


.mobile-menu {
  position: fixed;
  top: 0;
  
  right: -100%;
  width: 70%;
  height: 100vh;
  background-color: white;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out;
  z-index: 999;
  padding: 2rem;
}

.mobile-menu.open {
  right: 0;
}

.mobile-menu .close-btn {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #6D7C7C;
  text-align: right;
  padding-right: 5px;
}

.mobile-links {
  list-style: none;
  padding: 0;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
